/* Extra Styling outsude of tailwind */

/* Grid Content Div styles - Extra */
.gridcontent-div-ext {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  grid-gap: 40px;
  position: relative;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }

  @media screen and (max-width: 375px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* HeroImage Div styles - Extra */
.hi-div-ext {
  animation: animateHeroimage 1s;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 39%,
    rgba(0, 0, 0, 0) 41%,
    rgba(0, 0, 0, 0.65) 100%
  );
}

@keyframes animateHeroimage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Spinner Div styles - Extra */
.sp-div-ext {
  border: 5px solid #dfdbdb; /* Light grey */
  border-top: 5px solid #8d2cdd; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spinr 0.8s linear infinite;
  margin: 20px auto;
}

@keyframes spinr {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* BLUR */
.blur1 {
  filter: blur(1px);
}

/* MovieThumb Div Extras */
.mthumb-img-ext {
  animation: animateMovieThumb 0.5s;
  width: 100%;
  transition: all 0.3s;
  object-fit: cover;
  border-radius: 20px;
}

.mthumb-img-ext:hover {
  opacity: 0.8;
}

.clickable {
  cursor: pointer;
}

@keyframes animateMovieThumb {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/**********  MOVIEINFO PAGE  **********/
.mvinfo-dv-ext {
  background-size: cover !important;
  background-position: center !important;
  width: 100%;
  padding: 40px 20px;
  box-sizing: border-box;
  animation: animateMovieinfo 1s;

  @media screen and (max-width: 768px) {
    min-height: 600px;
    height: auto;
  }
}
.movieinfo-content {
  max-width: 1280px;
  min-height: 450px;
  margin: 0 auto;
  background: rgb(0, 0, 0, 0.7);
  border-radius: 20px;
  position: relative;
}

.movieinfo-thumb {
  width: 300px;
  float: left;

  @media screen and (max-width: 768px) {
    width: 100% !important;
  }
}

.movieinfo-text {
  padding: 40px;
  color: #fff;
  overflow: hidden;
}
.mv-text-h1 {
  font-family: "Abel", sans-serif;
  font-size: 48px;
  margin: 0;

  @media screen and (max-width: 1000px) {
    font-size: 32px !important;
  }
}

.mv-text-h3 {
  font-size: 16px;
  line-height: 0;
  margin-top: 30px;
}

.mv-text-p {
  font-size: 18px;
  line-height: 26px;
}

.rating-director {
  display: flex;
  justify-content: flex-start;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background: #fff;
  color: #000;
  font-weight: 800;
  border-radius: 25px;
  margin: 0px 0 0 0;
}

.director {
  margin: 0 0 0 40px;
}

@keyframes animateMovieinfo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
