/* Extra Styling outsude of tailwind */

/* Grid Content Div styles - Extra */
.gridcontent-div-ext {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  grid-gap: 40px;
  position: relative;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }

  @media screen and (max-width: 375px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* HeroImage Div styles - Extra */
.hi-div-ext {
  animation: animateHeroimage 1s;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 39%,
    rgba(0, 0, 0, 0) 41%,
    rgba(0, 0, 0, 0.65) 100%
  );
}

@keyframes animateHeroimage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Spinner Div styles - Extra */
.sp-div-ext {
  border: 5px solid #dfdbdb; /* Light grey */
  border-top: 5px solid #8d2cdd; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spinr 0.8s linear infinite;
  margin: 20px auto;
}

@keyframes spinr {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* BLUR */
.blur1 {
  filter: blur(1px);
}

/* MovieThumb Div Extras */
.mthumb-img-ext {
  animation: animateMovieThumb 0.5s;
  width: 100%;
  transition: all 0.3s;
  object-fit: cover;
  border-radius: 20px;
}

.mthumb-img-ext:hover {
  opacity: 0.8;
}

.clickable {
  cursor: pointer;
}

@keyframes animateMovieThumb {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/**********  MOVIEINFO PAGE  **********/
.mvinfo-dv-ext {
  background-size: cover !important;
  background-position: center !important;
  width: 100%;
  padding: 40px 20px;
  box-sizing: border-box;
  animation: animateMovieinfo 1s;

  @media screen and (max-width: 768px) {
    min-height: 600px;
    height: auto;
  }
}
.movieinfo-content {
  max-width: 1280px;
  min-height: 450px;
  margin: 0 auto;
  background: rgb(0, 0, 0, 0.7);
  border-radius: 20px;
  position: relative;
}

.movieinfo-thumb {
  width: 300px;
  float: left;

  @media screen and (max-width: 768px) {
    width: 100% !important;
  }
}

.movieinfo-text {
  padding: 40px;
  color: rgb(250, 250, 250);
  overflow: hidden;
}
.mv-text-h1 {
  font-family: "Abel", sans-serif;
  font-size: 48px;
  margin: 0;

  @media screen and (max-width: 1000px) {
    font-size: 32px !important;
  }
}

.mv-text-h3 {
  font-size: 16px;
  font-weight: 800;
  line-height: 0;
  margin-top: 30px;
  padding-bottom: 10px;
  color: #9e69cf;
  letter-spacing: 0.05em;
}

.mv-text-p {
  font-size: 18px;
  line-height: 26px;
  color: #aeacb1;
}

.rating-director {
  display: flex;
  justify-content: flex-start;

  @media screen and (max-width: 520px) {
    display: block !important;
  }
}

.div-score {
  color: gray;
}

.score {
  /* display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background: #fff;
  color: #000;
  font-weight: 800;
  border-radius: 25px;
  margin: 0px 0 0 0; */
  font-size: 2.5rem;
  margin: 0 3px;
  color: #0872eb;
  text-shadow: 0px 0px 16px rgba(0, 0, 255, 0.77);
}

.ml-info-gap {
  margin: 0 0 0 40px;
}

.topdown-p {
  display: block;
}

@keyframes animateMovieinfo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Something Wrong Page */
/* .h1-404 {
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(6, 122, 216), rgb(87, 9, 211));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.error-div{
  background: url('../images/404.png') bg-indigo-500 cover no-repeat;
}

/* .err-shadow { 
  color: white; 
  font: bold 52px Helvetica, Arial, Sans-Serif;
  text-shadow: 1px 1px #028dfe, 
               2px 2px #028dfe, 
               3px 3px #028dfe;
  -webkit-transition: all 0.12s ease-out;
  -moz-transition:    all 0.12s ease-out;
  -ms-transition:     all 0.12s ease-out;
  -o-transition:      all 0.12s ease-out;
}
.err-shadow:hover {
  position: relative; 
  top: -3px; 
  left: -3px; 
  text-shadow: 1px 1px #6f02fe, 
               2px 2px #6f02fe, 
               3px 3px #6f02fe, 
               4px 4px #6f02fe, 
               5px 5px #6f02fe, 
               6px 6px #6f02fe;
} */

.parent-mid {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8d2cdd;
  color: whitesmoke;
  width: 100%;
  height: 88vh;
}
