body {
  background: #100e17;
}
.white-underline-links a {
  position: relative;
  font-weight: 700;
}
.white-underline-links a::after {
  content: "";
  height: 2px;
  background: #fff;
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: 0;
  border-radius: 2px;
}
.white-underline-links a:focus,
.white-underline-links a:hover {
  color: inherit !important;
  -webkit-text-fill-color: inherit !important;
}
.white-underline-links a:focus::after,
.white-underline-links a:hover::after {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}

html {
  --maxWidth: 1284px;
  background: #100e17;
  color: #fff;
  overflow-x: hidden;
}

html::-webkit-scrollbar-track {
  background: linear-gradient(
    to right,
    #201c29,
    #201c29 1px,
    #100e17 1px,
    #100e17
  );
}
.module {
  clear: both;
  margin: 0 0 1rem 0;
  position: relative;
}
.module > :last-child,
.module > :last-child > :last-child {
  margin-bottom: 0;
}
.module .module-content {
  padding: 2rem;
  font-size: 0.9rem;
}
.module .module-content .byline {
  clear: both;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.05);
  font-size: 0.7rem;
  color: #999;
  letter-spacing: 1px;
  margin: 1rem -2rem 1rem -2rem;
  display: block;
  padding: 0.5rem 2rem;
}
.module .module-content .byline a {
  font-weight: 700;
  white-space: nowrap;
}
:root {
  --nav-height: 130px;
}
@media (max-width: 1250px) {
  :root {
    --nav-height: 100px;
  }
}
@media (max-width: 950px) {
  :root {
    --nav-height: 60px;
  }
}
@-webkit-keyframes move-down {
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes move-down {
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@media (max-width: 950px) {
  body {
    padding-top: var(--nav-height);
  }
}
@-webkit-keyframes sail {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(125vw);
    transform: translateX(125vw);
  }
  100% {
    -webkit-transform: translateX(125vw);
    transform: translateX(125vw);
  }
}
@keyframes sail {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(125vw);
    transform: translateX(125vw);
  }
  100% {
    -webkit-transform: translateX(125vw);
    transform: translateX(125vw);
  }
}
@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(-5px) rotate(1.5deg);
    transform: translateY(-5px) rotate(1.5deg);
  }
  to {
    -webkit-transform: translateY(5px) rotate(-1.5deg);
    transform: translateY(5px) rotate(-1.5deg);
  }
}
@keyframes bounce {
  from {
    -webkit-transform: translateY(-5px) rotate(1.5deg);
    transform: translateY(-5px) rotate(1.5deg);
  }
  to {
    -webkit-transform: translateY(5px) rotate(-1.5deg);
    transform: translateY(5px) rotate(-1.5deg);
  }
}
@keyframes bounce {
  from {
    -webkit-transform: translateY(-5px) rotate(1.5deg);
    transform: translateY(-5px) rotate(1.5deg);
  }
  to {
    -webkit-transform: translateY(5px) rotate(-1.5deg);
    transform: translateY(5px) rotate(-1.5deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}
@keyframes spin {
  to {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}
body > svg {
  position: absolute;
  width: 0;
  height: 0;
}

.header-card {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#810ccf),
    to(#1b6eda)
  );
  background-image: linear-gradient(to top, #810ccf, #1b6eda);
  position: relative;
  border-radius: 16px;
  padding: 2rem;
  margin: 0 4rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 320px;
  flex: 0 0 320px;
}

@media (max-width: 1200px) {
  .header-card {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    width: 110px;
    margin-right: 1rem;
  }
  .header-card br {
    display: none;
  }
}
.header-card-title {
  font-size: 1.6rem;
  margin: 0 0 0.5rem 0;
}
.popular-articles {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100vw - 71px);
  margin: 0 0 5rem 0;
  padding: 2rem 0;
}
@media (max-width: 1200px) {
  .popular-articles {
    scrollbar-color: #201c29;
    scrollbar-width: 10px;
    width: 100%;
    padding-bottom: 2rem;
    margin-bottom: 6rem;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-snap-points-x: repeat(250px);
    scroll-snap-points-x: repeat(250px);
    -ms-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;
  }
  .popular-articles::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .popular-articles::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
      inset -2px -2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
      inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  }
  .popular-articles::-webkit-scrollbar-track {
    background: linear-gradient(
      to right,
      #201c29,
      #201c29 1px,
      #17141d 1px,
      #17141d
    );
  }
  .popular-articles .mini-card {
    scroll-snap-align: start;
  }
}
@media (max-width: 1200px) {
  .popular-articles {
    padding-left: 0;
  }
}
.popular-header {
  margin: 3rem 0;
}
.mini-card-grid {
  scrollbar-color: #201c29;
  scrollbar-width: 10px;
  scrollbar-gutter: always;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
.mini-card-grid::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.mini-card-grid::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
.mini-card-grid::-webkit-scrollbar-track {
  background: linear-gradient(
    to right,
    #201c29,
    #201c29 1px,
    #17141d 1px,
    #17141d
  );
}
@media (max-width: 1200px) {
  .mini-card-grid {
    overflow-x: visible;
  }
}
.mini-card {
  min-width: 250px;
  min-height: 350px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #17141d;
  -webkit-box-shadow: -1rem 0 3rem #000;
  box-shadow: -1rem 0 3rem #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 0;
}

.mini-card:not(:first-child) {
  margin-left: -130px;
}

.mini-card:focus-within,
.mini-card:hover {
  -webkit-transform: translate(0, -1rem);
  transform: translate(0, -1rem);
}
.mini-card:focus-within ~ .mini-card,
.mini-card:hover ~ .mini-card {
  -webkit-transform: translateX(130px);
  transform: translateX(130px);
}
@media (max-width: 1200px) {
  .mini-card {
    min-width: 220px;
  }
  .mini-card:not(:first-child) {
    margin-left: -30px;
  }
  .mini-card:hover {
    -webkit-transform: translate(0, -1rem);
    transform: translate(0, -1rem);
  }
  .mini-card:hover ~ .mini-card {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
}
@media (max-width: 800px) {
  .mini-card {
    min-width: 190px;
  }
  .mini-card:not(:first-child) {
    margin-left: -10px;
  }
  .mini-card:hover {
    -webkit-transform: translate(0, -1rem);
    transform: translate(0, -1rem);
  }
  .mini-card:hover ~ .mini-card {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
.article-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 6rem 4rem;
}
.article-grid .article-card {
  margin-bottom: 0;
}
@media (max-width: 800px) {
  .article-grid {
    display: block;
  }
  .article-grid .article-card {
    margin-bottom: 6rem;
  }
}

